boto3
celery
channels
channels-redis
cloup
crispy-bootstrap5
django
django-crispy-forms
django-storages
dj-database-url
gunicorn
matplotlib
pillow
psycopg2-binary
qiskit<2.0.0
qiskit-aer
redis
tabulate
uvicorn
whitenoise