-r ../../requirements/requirements.in

boto3
celery
channels
channels-redis
cloup
crispy-bootstrap5
django
django-crispy-forms
django-storages
dj-database-url
gunicorn
setuptools<81
pillow
psycopg2-binary
redis
tabulate
uvicorn
whitenoise
