django
gunicorn
gunicorn
uvicorn
channels
channels-redis
django-crispy-forms
dj-database-url
psycopg2-binary
whitenoise
cloup
matplotlib
pillow
qiskit>1.0.0
qiskit-aer
tabulate
celery
redis
django-storages
boto3
crispy-bootstrap5